RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteCond %{REQUEST_URI} !(\.jpg|\.png)$ [NC]
RewriteCond %{REQUEST_URI} !(\.js|\.css)$ [NC]
RewriteCond %{REQUEST_URI} !(\.otf)$ [NC]


RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
